<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.ylbx.mapper.InpatientDiagnosisMapper">


    <select id="selectByPatientId" resultType="com.neuedu.ylbx.vo.DiagnosisTreatmentVo">

        SELECT
            im.id,
            im.order_time AS orderTime,

            ms.medical_name AS medicalName,
            ms.medical_number AS medicalNumber,
            ms.medical_exclude AS medicalExclude,
            ms.medical_unit AS medicalUnit,
            ms.medical_price AS medicalPrice
        FROM inpatient_diagnosis im
                 JOIN diagnosis_treatment ms ON im.diagnosis_id = ms.id
        WHERE im.patient_id = #{patientId}
        ORDER BY im.order_time DESC

    </select>
</mapper>